.ke-grid {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
}

.ke-grid__item {
	display: block;
	box-sizing: border-box;
	min-width: 0;
	max-width: 100%;
}

.ke-grid_display_flex {
	display: flex;
}

.ke-grid_display_none {
	display: none;
}

.ke-grid__item_display_block {
	display: block;
}

.ke-grid__item_display_none {
	display: none;
}

.ke-grid_indent_none {
	margin: 0;
}

.ke-grid_indent_none > .ke-grid__item {
	padding: 0;
}

.ke-grid_indent_none[class*='ke-grid_divider'] {
	margin: 0;
}

.ke-grid_indent_none[class*='ke-grid_divider'] > .ke-grid__item {
	padding: 0;
}

.ke-grid_indent-x_none {
	margin-left: 0;
	margin-right: 0;
}

.ke-grid_indent-x_none > .ke-grid__item {
	padding-left: 0;
	padding-right: 0;
}

.ke-grid_indent-x_none[class*='ke-grid_divider'] {
	margin-left: 0;
	margin-right: 0;
}

.ke-grid_indent-x_none[class*='ke-grid_divider'] > .ke-grid__item {
	padding-left: 0;
	padding-right: 0;
}

.ke-grid_indent-y_none {
	margin-top: 0;
	margin-bottom: 0;
}

.ke-grid_indent-y_none > .ke-grid__item {
	padding-top: 0;
	padding-bottom: 0;
}

.ke-grid_indent-y_none[class*='ke-grid_divider'] {
	margin-top: 0;
	margin-bottom: 0;
}

.ke-grid_indent-y_none[class*='ke-grid_divider'] > .ke-grid__item {
	padding-top: 0;
	padding-bottom: 0;
}

.ke-grid_indent_xxs {
	margin: -2px;
}

.ke-grid_indent_xxs > .ke-grid__item {
	padding: 2px;
}

.ke-grid_indent_xxs[class*='ke-grid_divider'] {
	margin: 0;
}

.ke-grid_indent_xxs[class*='ke-grid_divider'] > .ke-grid__item {
	padding: 4px;
}

.ke-grid_indent-x_xxs {
	margin-left: -2px;
	margin-right: -2px;
}

.ke-grid_indent-x_xxs > .ke-grid__item {
	padding-left: 2px;
	padding-right: 2px;
}

.ke-grid_indent-x_xxs[class*='ke-grid_divider'] {
	margin-left: 0;
	margin-right: 0;
}

.ke-grid_indent-x_xxs[class*='ke-grid_divider'] > .ke-grid__item {
	padding-left: 4px;
	padding-right: 4px;
}

.ke-grid_indent-y_xxs {
	margin-top: -2px;
	margin-bottom: -2px;
}

.ke-grid_indent-y_xxs > .ke-grid__item {
	padding-top: 2px;
	padding-bottom: 2px;
}

.ke-grid_indent-y_xxs[class*='ke-grid_divider'] {
	margin-top: 0;
	margin-bottom: 0;
}

.ke-grid_indent-y_xxs[class*='ke-grid_divider'] > .ke-grid__item {
	padding-top: 4px;
	padding-bottom: 4px;
}

.ke-grid_indent_xs {
	margin: -4px;
}

.ke-grid_indent_xs > .ke-grid__item {
	padding: 4px;
}

.ke-grid_indent_xs[class*='ke-grid_divider'] {
	margin: 0;
}

.ke-grid_indent_xs[class*='ke-grid_divider'] > .ke-grid__item {
	padding: 8px;
}

.ke-grid_indent-x_xs {
	margin-left: -4px;
	margin-right: -4px;
}

.ke-grid_indent-x_xs > .ke-grid__item {
	padding-left: 4px;
	padding-right: 4px;
}

.ke-grid_indent-x_xs[class*='ke-grid_divider'] {
	margin-left: 0;
	margin-right: 0;
}

.ke-grid_indent-x_xs[class*='ke-grid_divider'] > .ke-grid__item {
	padding-left: 8px;
	padding-right: 8px;
}

.ke-grid_indent-y_xs {
	margin-top: -4px;
	margin-bottom: -4px;
}

.ke-grid_indent-y_xs > .ke-grid__item {
	padding-top: 4px;
	padding-bottom: 4px;
}

.ke-grid_indent-y_xs[class*='ke-grid_divider'] {
	margin-top: 0;
	margin-bottom: 0;
}

.ke-grid_indent-y_xs[class*='ke-grid_divider'] > .ke-grid__item {
	padding-top: 8px;
	padding-bottom: 8px;
}

.ke-grid_indent_s {
	margin: -6px;
}

.ke-grid_indent_s > .ke-grid__item {
	padding: 6px;
}

.ke-grid_indent_s[class*='ke-grid_divider'] {
	margin: 0;
}

.ke-grid_indent_s[class*='ke-grid_divider'] > .ke-grid__item {
	padding: 12px;
}

.ke-grid_indent-x_s {
	margin-left: -6px;
	margin-right: -6px;
}

.ke-grid_indent-x_s > .ke-grid__item {
	padding-left: 6px;
	padding-right: 6px;
}

.ke-grid_indent-x_s[class*='ke-grid_divider'] {
	margin-left: 0;
	margin-right: 0;
}

.ke-grid_indent-x_s[class*='ke-grid_divider'] > .ke-grid__item {
	padding-left: 12px;
	padding-right: 12px;
}

.ke-grid_indent-y_s {
	margin-top: -6px;
	margin-bottom: -6px;
}

.ke-grid_indent-y_s > .ke-grid__item {
	padding-top: 6px;
	padding-bottom: 6px;
}

.ke-grid_indent-y_s[class*='ke-grid_divider'] {
	margin-top: 0;
	margin-bottom: 0;
}

.ke-grid_indent-y_s[class*='ke-grid_divider'] > .ke-grid__item {
	padding-top: 12px;
	padding-bottom: 12px;
}

.ke-grid_indent_m {
	margin: -8px;
}

.ke-grid_indent_m > .ke-grid__item {
	padding: 8px;
}

.ke-grid_indent_m[class*='ke-grid_divider'] {
	margin: 0;
}

.ke-grid_indent_m[class*='ke-grid_divider'] > .ke-grid__item {
	padding: 16px;
}

.ke-grid_indent-x_m {
	margin-left: -8px;
	margin-right: -8px;
}

.ke-grid_indent-x_m > .ke-grid__item {
	padding-left: 8px;
	padding-right: 8px;
}

.ke-grid_indent-x_m[class*='ke-grid_divider'] {
	margin-left: 0;
	margin-right: 0;
}

.ke-grid_indent-x_m[class*='ke-grid_divider'] > .ke-grid__item {
	padding-left: 16px;
	padding-right: 16px;
}

.ke-grid_indent-y_m {
	margin-top: -8px;
	margin-bottom: -8px;
}

.ke-grid_indent-y_m > .ke-grid__item {
	padding-top: 8px;
	padding-bottom: 8px;
}

.ke-grid_indent-y_m[class*='ke-grid_divider'] {
	margin-top: 0;
	margin-bottom: 0;
}

.ke-grid_indent-y_m[class*='ke-grid_divider'] > .ke-grid__item {
	padding-top: 16px;
	padding-bottom: 16px;
}

.ke-grid_indent_l {
	margin: -10px;
}

.ke-grid_indent_l > .ke-grid__item {
	padding: 10px;
}

.ke-grid_indent_l[class*='ke-grid_divider'] {
	margin: 0;
}

.ke-grid_indent_l[class*='ke-grid_divider'] > .ke-grid__item {
	padding: 20px;
}

.ke-grid_indent-x_l {
	margin-left: -10px;
	margin-right: -10px;
}

.ke-grid_indent-x_l > .ke-grid__item {
	padding-left: 10px;
	padding-right: 10px;
}

.ke-grid_indent-x_l[class*='ke-grid_divider'] {
	margin-left: 0;
	margin-right: 0;
}

.ke-grid_indent-x_l[class*='ke-grid_divider'] > .ke-grid__item {
	padding-left: 20px;
	padding-right: 20px;
}

.ke-grid_indent-y_l {
	margin-top: -10px;
	margin-bottom: -10px;
}

.ke-grid_indent-y_l > .ke-grid__item {
	padding-top: 10px;
	padding-bottom: 10px;
}

.ke-grid_indent-y_l[class*='ke-grid_divider'] {
	margin-top: 0;
	margin-bottom: 0;
}

.ke-grid_indent-y_l[class*='ke-grid_divider'] > .ke-grid__item {
	padding-top: 20px;
	padding-bottom: 20px;
}

.ke-grid_indent_xl {
	margin: -12px;
}

.ke-grid_indent_xl > .ke-grid__item {
	padding: 12px;
}

.ke-grid_indent_xl[class*='ke-grid_divider'] {
	margin: 0;
}

.ke-grid_indent_xl[class*='ke-grid_divider'] > .ke-grid__item {
	padding: 24px;
}

.ke-grid_indent-x_xl {
	margin-left: -12px;
	margin-right: -12px;
}

.ke-grid_indent-x_xl > .ke-grid__item {
	padding-left: 12px;
	padding-right: 12px;
}

.ke-grid_indent-x_xl[class*='ke-grid_divider'] {
	margin-left: 0;
	margin-right: 0;
}

.ke-grid_indent-x_xl[class*='ke-grid_divider'] > .ke-grid__item {
	padding-left: 24px;
	padding-right: 24px;
}

.ke-grid_indent-y_xl {
	margin-top: -12px;
	margin-bottom: -12px;
}

.ke-grid_indent-y_xl > .ke-grid__item {
	padding-top: 12px;
	padding-bottom: 12px;
}

.ke-grid_indent-y_xl[class*='ke-grid_divider'] {
	margin-top: 0;
	margin-bottom: 0;
}

.ke-grid_indent-y_xl[class*='ke-grid_divider'] > .ke-grid__item {
	padding-top: 24px;
	padding-bottom: 24px;
}

.ke-grid_indent_xxl {
	margin: -14px;
}

.ke-grid_indent_xxl > .ke-grid__item {
	padding: 14px;
}

.ke-grid_indent_xxl[class*='ke-grid_divider'] {
	margin: 0;
}

.ke-grid_indent_xxl[class*='ke-grid_divider'] > .ke-grid__item {
	padding: 28px;
}

.ke-grid_indent-x_xxl {
	margin-left: -14px;
	margin-right: -14px;
}

.ke-grid_indent-x_xxl > .ke-grid__item {
	padding-left: 14px;
	padding-right: 14px;
}

.ke-grid_indent-x_xxl[class*='ke-grid_divider'] {
	margin-left: 0;
	margin-right: 0;
}

.ke-grid_indent-x_xxl[class*='ke-grid_divider'] > .ke-grid__item {
	padding-left: 28px;
	padding-right: 28px;
}

.ke-grid_indent-y_xxl {
	margin-top: -14px;
	margin-bottom: -14px;
}

.ke-grid_indent-y_xxl > .ke-grid__item {
	padding-top: 14px;
	padding-bottom: 14px;
}

.ke-grid_indent-y_xxl[class*='ke-grid_divider'] {
	margin-top: 0;
	margin-bottom: 0;
}

.ke-grid_indent-y_xxl[class*='ke-grid_divider'] > .ke-grid__item {
	padding-top: 28px;
	padding-bottom: 28px;
}

.ke-grid_indent_3xl {
	margin: -20px;
}

.ke-grid_indent_3xl > .ke-grid__item {
	padding: 20px;
}

.ke-grid_indent_3xl[class*='ke-grid_divider'] {
	margin: 0;
}

.ke-grid_indent_3xl[class*='ke-grid_divider'] > .ke-grid__item {
	padding: 40px;
}

.ke-grid_indent-x_3xl {
	margin-left: -20px;
	margin-right: -20px;
}

.ke-grid_indent-x_3xl > .ke-grid__item {
	padding-left: 20px;
	padding-right: 20px;
}

.ke-grid_indent-x_3xl[class*='ke-grid_divider'] {
	margin-left: 0;
	margin-right: 0;
}

.ke-grid_indent-x_3xl[class*='ke-grid_divider'] > .ke-grid__item {
	padding-left: 40px;
	padding-right: 40px;
}

.ke-grid_indent-y_3xl {
	margin-top: -20px;
	margin-bottom: -20px;
}

.ke-grid_indent-y_3xl > .ke-grid__item {
	padding-top: 20px;
	padding-bottom: 20px;
}

.ke-grid_indent-y_3xl[class*='ke-grid_divider'] {
	margin-top: 0;
	margin-bottom: 0;
}

.ke-grid_indent-y_3xl[class*='ke-grid_divider'] > .ke-grid__item {
	padding-top: 40px;
	padding-bottom: 40px;
}

.ke-grid_indent_4xl {
	margin: -22.5px;
}

.ke-grid_indent_4xl > .ke-grid__item {
	padding: 22.5px;
}

.ke-grid_indent_4xl[class*='ke-grid_divider'] {
	margin: 0;
}

.ke-grid_indent_4xl[class*='ke-grid_divider'] > .ke-grid__item {
	padding: 45px;
}

.ke-grid_indent-x_4xl {
	margin-left: -22.5px;
	margin-right: -22.5px;
}

.ke-grid_indent-x_4xl > .ke-grid__item {
	padding-left: 22.5px;
	padding-right: 22.5px;
}

.ke-grid_indent-x_4xl[class*='ke-grid_divider'] {
	margin-left: 0;
	margin-right: 0;
}

.ke-grid_indent-x_4xl[class*='ke-grid_divider'] > .ke-grid__item {
	padding-left: 45px;
	padding-right: 45px;
}

.ke-grid_indent-y_4xl {
	margin-top: -22.5px;
	margin-bottom: -22.5px;
}

.ke-grid_indent-y_4xl > .ke-grid__item {
	padding-top: 22.5px;
	padding-bottom: 22.5px;
}

.ke-grid_indent-y_4xl[class*='ke-grid_divider'] {
	margin-top: 0;
	margin-bottom: 0;
}

.ke-grid_indent-y_4xl[class*='ke-grid_divider'] > .ke-grid__item {
	padding-top: 45px;
	padding-bottom: 45px;
}

.ke-grid_indent_5xl {
	margin: -25px;
}

.ke-grid_indent_5xl > .ke-grid__item {
	padding: 25px;
}

.ke-grid_indent_5xl[class*='ke-grid_divider'] {
	margin: 0;
}

.ke-grid_indent_5xl[class*='ke-grid_divider'] > .ke-grid__item {
	padding: 50px;
}

.ke-grid_indent-x_5xl {
	margin-left: -25px;
	margin-right: -25px;
}

.ke-grid_indent-x_5xl > .ke-grid__item {
	padding-left: 25px;
	padding-right: 25px;
}

.ke-grid_indent-x_5xl[class*='ke-grid_divider'] {
	margin-left: 0;
	margin-right: 0;
}

.ke-grid_indent-x_5xl[class*='ke-grid_divider'] > .ke-grid__item {
	padding-left: 50px;
	padding-right: 50px;
}

.ke-grid_indent-y_5xl {
	margin-top: -25px;
	margin-bottom: -25px;
}

.ke-grid_indent-y_5xl > .ke-grid__item {
	padding-top: 25px;
	padding-bottom: 25px;
}

.ke-grid_indent-y_5xl[class*='ke-grid_divider'] {
	margin-top: 0;
	margin-bottom: 0;
}

.ke-grid_indent-y_5xl[class*='ke-grid_divider'] > .ke-grid__item {
	padding-top: 50px;
	padding-bottom: 50px;
}

.ke-grid_column_1 > .ke-grid__item {
	flex: none;
	width: 100%;
}

.ke-grid_column_1[class*='ke-grid_divider'] > .ke-grid__item + .ke-grid__item {
	border-left-width: 0;
}

.ke-grid_column_1[class*='ke-grid_divider'] > .ke-grid__item:nth-child(1n-0) {
	border-right-width: 0;
}

.ke-grid_column_1[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(1n-0):nth-last-child(-n + 1) {
	border-bottom-width: 0;
}

.ke-grid_column_1[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(1n-0):not(:nth-last-child(-n + 1)) {
	border-bottom-width: 1px;
}

.ke-grid_column_2 > .ke-grid__item {
	flex: none;
	width: 50%;
}

.ke-grid_column_2[class*='ke-grid_divider'] > .ke-grid__item + .ke-grid__item {
	border-left-width: 0;
}

.ke-grid_column_2[class*='ke-grid_divider'] > .ke-grid__item:nth-child(2n-1) {
	border-right-width: 1px;
}

.ke-grid_column_2[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(2n-1):nth-last-child(-n + 2) {
	border-bottom-width: 0;
}

.ke-grid_column_2[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(2n-1):not(:nth-last-child(-n + 2)) {
	border-bottom-width: 1px;
}

.ke-grid_column_2[class*='ke-grid_divider'] > .ke-grid__item:nth-child(2n-0) {
	border-right-width: 0;
}

.ke-grid_column_2[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(2n-0):nth-last-child(-n + 1) {
	border-bottom-width: 0;
}

.ke-grid_column_2[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(2n-0):not(:nth-last-child(-n + 1)) {
	border-bottom-width: 1px;
}

.ke-grid_column_3 > .ke-grid__item {
	flex: none;
	width: 33.33333%;
}

.ke-grid_column_3[class*='ke-grid_divider'] > .ke-grid__item + .ke-grid__item {
	border-left-width: 0;
}

.ke-grid_column_3[class*='ke-grid_divider'] > .ke-grid__item:nth-child(3n-2) {
	border-right-width: 1px;
}

.ke-grid_column_3[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(3n-2):nth-last-child(-n + 3) {
	border-bottom-width: 0;
}

.ke-grid_column_3[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(3n-2):not(:nth-last-child(-n + 3)) {
	border-bottom-width: 1px;
}

.ke-grid_column_3[class*='ke-grid_divider'] > .ke-grid__item:nth-child(3n-1) {
	border-right-width: 1px;
}

.ke-grid_column_3[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(3n-1):nth-last-child(-n + 2) {
	border-bottom-width: 0;
}

.ke-grid_column_3[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(3n-1):not(:nth-last-child(-n + 2)) {
	border-bottom-width: 1px;
}

.ke-grid_column_3[class*='ke-grid_divider'] > .ke-grid__item:nth-child(3n-0) {
	border-right-width: 0;
}

.ke-grid_column_3[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(3n-0):nth-last-child(-n + 1) {
	border-bottom-width: 0;
}

.ke-grid_column_3[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(3n-0):not(:nth-last-child(-n + 1)) {
	border-bottom-width: 1px;
}

.ke-grid_column_4 > .ke-grid__item {
	flex: none;
	width: 25%;
}

.ke-grid_column_4[class*='ke-grid_divider'] > .ke-grid__item + .ke-grid__item {
	border-left-width: 0;
}

.ke-grid_column_4[class*='ke-grid_divider'] > .ke-grid__item:nth-child(4n-3) {
	border-right-width: 1px;
}

.ke-grid_column_4[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(4n-3):nth-last-child(-n + 4) {
	border-bottom-width: 0;
}

.ke-grid_column_4[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(4n-3):not(:nth-last-child(-n + 4)) {
	border-bottom-width: 1px;
}

.ke-grid_column_4[class*='ke-grid_divider'] > .ke-grid__item:nth-child(4n-2) {
	border-right-width: 1px;
}

.ke-grid_column_4[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(4n-2):nth-last-child(-n + 3) {
	border-bottom-width: 0;
}

.ke-grid_column_4[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(4n-2):not(:nth-last-child(-n + 3)) {
	border-bottom-width: 1px;
}

.ke-grid_column_4[class*='ke-grid_divider'] > .ke-grid__item:nth-child(4n-1) {
	border-right-width: 1px;
}

.ke-grid_column_4[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(4n-1):nth-last-child(-n + 2) {
	border-bottom-width: 0;
}

.ke-grid_column_4[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(4n-1):not(:nth-last-child(-n + 2)) {
	border-bottom-width: 1px;
}

.ke-grid_column_4[class*='ke-grid_divider'] > .ke-grid__item:nth-child(4n-0) {
	border-right-width: 0;
}

.ke-grid_column_4[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(4n-0):nth-last-child(-n + 1) {
	border-bottom-width: 0;
}

.ke-grid_column_4[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(4n-0):not(:nth-last-child(-n + 1)) {
	border-bottom-width: 1px;
}

.ke-grid_column_5 > .ke-grid__item {
	flex: none;
	width: 20%;
}

.ke-grid_column_5[class*='ke-grid_divider'] > .ke-grid__item + .ke-grid__item {
	border-left-width: 0;
}

.ke-grid_column_5[class*='ke-grid_divider'] > .ke-grid__item:nth-child(5n-4) {
	border-right-width: 1px;
}

.ke-grid_column_5[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(5n-4):nth-last-child(-n + 5) {
	border-bottom-width: 0;
}

.ke-grid_column_5[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(5n-4):not(:nth-last-child(-n + 5)) {
	border-bottom-width: 1px;
}

.ke-grid_column_5[class*='ke-grid_divider'] > .ke-grid__item:nth-child(5n-3) {
	border-right-width: 1px;
}

.ke-grid_column_5[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(5n-3):nth-last-child(-n + 4) {
	border-bottom-width: 0;
}

.ke-grid_column_5[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(5n-3):not(:nth-last-child(-n + 4)) {
	border-bottom-width: 1px;
}

.ke-grid_column_5[class*='ke-grid_divider'] > .ke-grid__item:nth-child(5n-2) {
	border-right-width: 1px;
}

.ke-grid_column_5[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(5n-2):nth-last-child(-n + 3) {
	border-bottom-width: 0;
}

.ke-grid_column_5[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(5n-2):not(:nth-last-child(-n + 3)) {
	border-bottom-width: 1px;
}

.ke-grid_column_5[class*='ke-grid_divider'] > .ke-grid__item:nth-child(5n-1) {
	border-right-width: 1px;
}

.ke-grid_column_5[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(5n-1):nth-last-child(-n + 2) {
	border-bottom-width: 0;
}

.ke-grid_column_5[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(5n-1):not(:nth-last-child(-n + 2)) {
	border-bottom-width: 1px;
}

.ke-grid_column_5[class*='ke-grid_divider'] > .ke-grid__item:nth-child(5n-0) {
	border-right-width: 0;
}

.ke-grid_column_5[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(5n-0):nth-last-child(-n + 1) {
	border-bottom-width: 0;
}

.ke-grid_column_5[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(5n-0):not(:nth-last-child(-n + 1)) {
	border-bottom-width: 1px;
}

.ke-grid_column_6 > .ke-grid__item {
	flex: none;
	width: 16.66667%;
}

.ke-grid_column_6[class*='ke-grid_divider'] > .ke-grid__item + .ke-grid__item {
	border-left-width: 0;
}

.ke-grid_column_6[class*='ke-grid_divider'] > .ke-grid__item:nth-child(6n-5) {
	border-right-width: 1px;
}

.ke-grid_column_6[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(6n-5):nth-last-child(-n + 6) {
	border-bottom-width: 0;
}

.ke-grid_column_6[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(6n-5):not(:nth-last-child(-n + 6)) {
	border-bottom-width: 1px;
}

.ke-grid_column_6[class*='ke-grid_divider'] > .ke-grid__item:nth-child(6n-4) {
	border-right-width: 1px;
}

.ke-grid_column_6[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(6n-4):nth-last-child(-n + 5) {
	border-bottom-width: 0;
}

.ke-grid_column_6[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(6n-4):not(:nth-last-child(-n + 5)) {
	border-bottom-width: 1px;
}

.ke-grid_column_6[class*='ke-grid_divider'] > .ke-grid__item:nth-child(6n-3) {
	border-right-width: 1px;
}

.ke-grid_column_6[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(6n-3):nth-last-child(-n + 4) {
	border-bottom-width: 0;
}

.ke-grid_column_6[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(6n-3):not(:nth-last-child(-n + 4)) {
	border-bottom-width: 1px;
}

.ke-grid_column_6[class*='ke-grid_divider'] > .ke-grid__item:nth-child(6n-2) {
	border-right-width: 1px;
}

.ke-grid_column_6[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(6n-2):nth-last-child(-n + 3) {
	border-bottom-width: 0;
}

.ke-grid_column_6[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(6n-2):not(:nth-last-child(-n + 3)) {
	border-bottom-width: 1px;
}

.ke-grid_column_6[class*='ke-grid_divider'] > .ke-grid__item:nth-child(6n-1) {
	border-right-width: 1px;
}

.ke-grid_column_6[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(6n-1):nth-last-child(-n + 2) {
	border-bottom-width: 0;
}

.ke-grid_column_6[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(6n-1):not(:nth-last-child(-n + 2)) {
	border-bottom-width: 1px;
}

.ke-grid_column_6[class*='ke-grid_divider'] > .ke-grid__item:nth-child(6n-0) {
	border-right-width: 0;
}

.ke-grid_column_6[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(6n-0):nth-last-child(-n + 1) {
	border-bottom-width: 0;
}

.ke-grid_column_6[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(6n-0):not(:nth-last-child(-n + 1)) {
	border-bottom-width: 1px;
}

.ke-grid_column_7 > .ke-grid__item {
	flex: none;
	width: 14.28571%;
}

.ke-grid_column_7[class*='ke-grid_divider'] > .ke-grid__item + .ke-grid__item {
	border-left-width: 0;
}

.ke-grid_column_7[class*='ke-grid_divider'] > .ke-grid__item:nth-child(7n-6) {
	border-right-width: 1px;
}

.ke-grid_column_7[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(7n-6):nth-last-child(-n + 7) {
	border-bottom-width: 0;
}

.ke-grid_column_7[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(7n-6):not(:nth-last-child(-n + 7)) {
	border-bottom-width: 1px;
}

.ke-grid_column_7[class*='ke-grid_divider'] > .ke-grid__item:nth-child(7n-5) {
	border-right-width: 1px;
}

.ke-grid_column_7[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(7n-5):nth-last-child(-n + 6) {
	border-bottom-width: 0;
}

.ke-grid_column_7[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(7n-5):not(:nth-last-child(-n + 6)) {
	border-bottom-width: 1px;
}

.ke-grid_column_7[class*='ke-grid_divider'] > .ke-grid__item:nth-child(7n-4) {
	border-right-width: 1px;
}

.ke-grid_column_7[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(7n-4):nth-last-child(-n + 5) {
	border-bottom-width: 0;
}

.ke-grid_column_7[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(7n-4):not(:nth-last-child(-n + 5)) {
	border-bottom-width: 1px;
}

.ke-grid_column_7[class*='ke-grid_divider'] > .ke-grid__item:nth-child(7n-3) {
	border-right-width: 1px;
}

.ke-grid_column_7[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(7n-3):nth-last-child(-n + 4) {
	border-bottom-width: 0;
}

.ke-grid_column_7[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(7n-3):not(:nth-last-child(-n + 4)) {
	border-bottom-width: 1px;
}

.ke-grid_column_7[class*='ke-grid_divider'] > .ke-grid__item:nth-child(7n-2) {
	border-right-width: 1px;
}

.ke-grid_column_7[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(7n-2):nth-last-child(-n + 3) {
	border-bottom-width: 0;
}

.ke-grid_column_7[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(7n-2):not(:nth-last-child(-n + 3)) {
	border-bottom-width: 1px;
}

.ke-grid_column_7[class*='ke-grid_divider'] > .ke-grid__item:nth-child(7n-1) {
	border-right-width: 1px;
}

.ke-grid_column_7[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(7n-1):nth-last-child(-n + 2) {
	border-bottom-width: 0;
}

.ke-grid_column_7[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(7n-1):not(:nth-last-child(-n + 2)) {
	border-bottom-width: 1px;
}

.ke-grid_column_7[class*='ke-grid_divider'] > .ke-grid__item:nth-child(7n-0) {
	border-right-width: 0;
}

.ke-grid_column_7[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(7n-0):nth-last-child(-n + 1) {
	border-bottom-width: 0;
}

.ke-grid_column_7[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(7n-0):not(:nth-last-child(-n + 1)) {
	border-bottom-width: 1px;
}

.ke-grid_column_8 > .ke-grid__item {
	flex: none;
	width: 12.5%;
}

.ke-grid_column_8[class*='ke-grid_divider'] > .ke-grid__item + .ke-grid__item {
	border-left-width: 0;
}

.ke-grid_column_8[class*='ke-grid_divider'] > .ke-grid__item:nth-child(8n-7) {
	border-right-width: 1px;
}

.ke-grid_column_8[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(8n-7):nth-last-child(-n + 8) {
	border-bottom-width: 0;
}

.ke-grid_column_8[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(8n-7):not(:nth-last-child(-n + 8)) {
	border-bottom-width: 1px;
}

.ke-grid_column_8[class*='ke-grid_divider'] > .ke-grid__item:nth-child(8n-6) {
	border-right-width: 1px;
}

.ke-grid_column_8[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(8n-6):nth-last-child(-n + 7) {
	border-bottom-width: 0;
}

.ke-grid_column_8[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(8n-6):not(:nth-last-child(-n + 7)) {
	border-bottom-width: 1px;
}

.ke-grid_column_8[class*='ke-grid_divider'] > .ke-grid__item:nth-child(8n-5) {
	border-right-width: 1px;
}

.ke-grid_column_8[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(8n-5):nth-last-child(-n + 6) {
	border-bottom-width: 0;
}

.ke-grid_column_8[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(8n-5):not(:nth-last-child(-n + 6)) {
	border-bottom-width: 1px;
}

.ke-grid_column_8[class*='ke-grid_divider'] > .ke-grid__item:nth-child(8n-4) {
	border-right-width: 1px;
}

.ke-grid_column_8[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(8n-4):nth-last-child(-n + 5) {
	border-bottom-width: 0;
}

.ke-grid_column_8[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(8n-4):not(:nth-last-child(-n + 5)) {
	border-bottom-width: 1px;
}

.ke-grid_column_8[class*='ke-grid_divider'] > .ke-grid__item:nth-child(8n-3) {
	border-right-width: 1px;
}

.ke-grid_column_8[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(8n-3):nth-last-child(-n + 4) {
	border-bottom-width: 0;
}

.ke-grid_column_8[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(8n-3):not(:nth-last-child(-n + 4)) {
	border-bottom-width: 1px;
}

.ke-grid_column_8[class*='ke-grid_divider'] > .ke-grid__item:nth-child(8n-2) {
	border-right-width: 1px;
}

.ke-grid_column_8[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(8n-2):nth-last-child(-n + 3) {
	border-bottom-width: 0;
}

.ke-grid_column_8[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(8n-2):not(:nth-last-child(-n + 3)) {
	border-bottom-width: 1px;
}

.ke-grid_column_8[class*='ke-grid_divider'] > .ke-grid__item:nth-child(8n-1) {
	border-right-width: 1px;
}

.ke-grid_column_8[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(8n-1):nth-last-child(-n + 2) {
	border-bottom-width: 0;
}

.ke-grid_column_8[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(8n-1):not(:nth-last-child(-n + 2)) {
	border-bottom-width: 1px;
}

.ke-grid_column_8[class*='ke-grid_divider'] > .ke-grid__item:nth-child(8n-0) {
	border-right-width: 0;
}

.ke-grid_column_8[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(8n-0):nth-last-child(-n + 1) {
	border-bottom-width: 0;
}

.ke-grid_column_8[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(8n-0):not(:nth-last-child(-n + 1)) {
	border-bottom-width: 1px;
}

.ke-grid_column_9 > .ke-grid__item {
	flex: none;
	width: 11.11111%;
}

.ke-grid_column_9[class*='ke-grid_divider'] > .ke-grid__item + .ke-grid__item {
	border-left-width: 0;
}

.ke-grid_column_9[class*='ke-grid_divider'] > .ke-grid__item:nth-child(9n-8) {
	border-right-width: 1px;
}

.ke-grid_column_9[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(9n-8):nth-last-child(-n + 9) {
	border-bottom-width: 0;
}

.ke-grid_column_9[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(9n-8):not(:nth-last-child(-n + 9)) {
	border-bottom-width: 1px;
}

.ke-grid_column_9[class*='ke-grid_divider'] > .ke-grid__item:nth-child(9n-7) {
	border-right-width: 1px;
}

.ke-grid_column_9[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(9n-7):nth-last-child(-n + 8) {
	border-bottom-width: 0;
}

.ke-grid_column_9[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(9n-7):not(:nth-last-child(-n + 8)) {
	border-bottom-width: 1px;
}

.ke-grid_column_9[class*='ke-grid_divider'] > .ke-grid__item:nth-child(9n-6) {
	border-right-width: 1px;
}

.ke-grid_column_9[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(9n-6):nth-last-child(-n + 7) {
	border-bottom-width: 0;
}

.ke-grid_column_9[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(9n-6):not(:nth-last-child(-n + 7)) {
	border-bottom-width: 1px;
}

.ke-grid_column_9[class*='ke-grid_divider'] > .ke-grid__item:nth-child(9n-5) {
	border-right-width: 1px;
}

.ke-grid_column_9[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(9n-5):nth-last-child(-n + 6) {
	border-bottom-width: 0;
}

.ke-grid_column_9[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(9n-5):not(:nth-last-child(-n + 6)) {
	border-bottom-width: 1px;
}

.ke-grid_column_9[class*='ke-grid_divider'] > .ke-grid__item:nth-child(9n-4) {
	border-right-width: 1px;
}

.ke-grid_column_9[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(9n-4):nth-last-child(-n + 5) {
	border-bottom-width: 0;
}

.ke-grid_column_9[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(9n-4):not(:nth-last-child(-n + 5)) {
	border-bottom-width: 1px;
}

.ke-grid_column_9[class*='ke-grid_divider'] > .ke-grid__item:nth-child(9n-3) {
	border-right-width: 1px;
}

.ke-grid_column_9[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(9n-3):nth-last-child(-n + 4) {
	border-bottom-width: 0;
}

.ke-grid_column_9[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(9n-3):not(:nth-last-child(-n + 4)) {
	border-bottom-width: 1px;
}

.ke-grid_column_9[class*='ke-grid_divider'] > .ke-grid__item:nth-child(9n-2) {
	border-right-width: 1px;
}

.ke-grid_column_9[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(9n-2):nth-last-child(-n + 3) {
	border-bottom-width: 0;
}

.ke-grid_column_9[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(9n-2):not(:nth-last-child(-n + 3)) {
	border-bottom-width: 1px;
}

.ke-grid_column_9[class*='ke-grid_divider'] > .ke-grid__item:nth-child(9n-1) {
	border-right-width: 1px;
}

.ke-grid_column_9[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(9n-1):nth-last-child(-n + 2) {
	border-bottom-width: 0;
}

.ke-grid_column_9[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(9n-1):not(:nth-last-child(-n + 2)) {
	border-bottom-width: 1px;
}

.ke-grid_column_9[class*='ke-grid_divider'] > .ke-grid__item:nth-child(9n-0) {
	border-right-width: 0;
}

.ke-grid_column_9[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(9n-0):nth-last-child(-n + 1) {
	border-bottom-width: 0;
}

.ke-grid_column_9[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(9n-0):not(:nth-last-child(-n + 1)) {
	border-bottom-width: 1px;
}

.ke-grid_column_10 > .ke-grid__item {
	flex: none;
	width: 10%;
}

.ke-grid_column_10[class*='ke-grid_divider'] > .ke-grid__item + .ke-grid__item {
	border-left-width: 0;
}

.ke-grid_column_10[class*='ke-grid_divider'] > .ke-grid__item:nth-child(10n-9) {
	border-right-width: 1px;
}

.ke-grid_column_10[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(10n-9):nth-last-child(-n + 10) {
	border-bottom-width: 0;
}

.ke-grid_column_10[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(10n-9):not(:nth-last-child(-n + 10)) {
	border-bottom-width: 1px;
}

.ke-grid_column_10[class*='ke-grid_divider'] > .ke-grid__item:nth-child(10n-8) {
	border-right-width: 1px;
}

.ke-grid_column_10[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(10n-8):nth-last-child(-n + 9) {
	border-bottom-width: 0;
}

.ke-grid_column_10[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(10n-8):not(:nth-last-child(-n + 9)) {
	border-bottom-width: 1px;
}

.ke-grid_column_10[class*='ke-grid_divider'] > .ke-grid__item:nth-child(10n-7) {
	border-right-width: 1px;
}

.ke-grid_column_10[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(10n-7):nth-last-child(-n + 8) {
	border-bottom-width: 0;
}

.ke-grid_column_10[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(10n-7):not(:nth-last-child(-n + 8)) {
	border-bottom-width: 1px;
}

.ke-grid_column_10[class*='ke-grid_divider'] > .ke-grid__item:nth-child(10n-6) {
	border-right-width: 1px;
}

.ke-grid_column_10[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(10n-6):nth-last-child(-n + 7) {
	border-bottom-width: 0;
}

.ke-grid_column_10[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(10n-6):not(:nth-last-child(-n + 7)) {
	border-bottom-width: 1px;
}

.ke-grid_column_10[class*='ke-grid_divider'] > .ke-grid__item:nth-child(10n-5) {
	border-right-width: 1px;
}

.ke-grid_column_10[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(10n-5):nth-last-child(-n + 6) {
	border-bottom-width: 0;
}

.ke-grid_column_10[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(10n-5):not(:nth-last-child(-n + 6)) {
	border-bottom-width: 1px;
}

.ke-grid_column_10[class*='ke-grid_divider'] > .ke-grid__item:nth-child(10n-4) {
	border-right-width: 1px;
}

.ke-grid_column_10[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(10n-4):nth-last-child(-n + 5) {
	border-bottom-width: 0;
}

.ke-grid_column_10[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(10n-4):not(:nth-last-child(-n + 5)) {
	border-bottom-width: 1px;
}

.ke-grid_column_10[class*='ke-grid_divider'] > .ke-grid__item:nth-child(10n-3) {
	border-right-width: 1px;
}

.ke-grid_column_10[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(10n-3):nth-last-child(-n + 4) {
	border-bottom-width: 0;
}

.ke-grid_column_10[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(10n-3):not(:nth-last-child(-n + 4)) {
	border-bottom-width: 1px;
}

.ke-grid_column_10[class*='ke-grid_divider'] > .ke-grid__item:nth-child(10n-2) {
	border-right-width: 1px;
}

.ke-grid_column_10[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(10n-2):nth-last-child(-n + 3) {
	border-bottom-width: 0;
}

.ke-grid_column_10[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(10n-2):not(:nth-last-child(-n + 3)) {
	border-bottom-width: 1px;
}

.ke-grid_column_10[class*='ke-grid_divider'] > .ke-grid__item:nth-child(10n-1) {
	border-right-width: 1px;
}

.ke-grid_column_10[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(10n-1):nth-last-child(-n + 2) {
	border-bottom-width: 0;
}

.ke-grid_column_10[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(10n-1):not(:nth-last-child(-n + 2)) {
	border-bottom-width: 1px;
}

.ke-grid_column_10[class*='ke-grid_divider'] > .ke-grid__item:nth-child(10n-0) {
	border-right-width: 0;
}

.ke-grid_column_10[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(10n-0):nth-last-child(-n + 1) {
	border-bottom-width: 0;
}

.ke-grid_column_10[class*='ke-grid_divider']
	> .ke-grid__item:nth-child(10n-0):not(:nth-last-child(-n + 1)) {
	border-bottom-width: 1px;
}

.ke-grid_column_expand > .ke-grid__item {
	flex: 1;
	width: auto;
}

.ke-grid_column_auto > .ke-grid__item {
	flex: none;
	width: auto;
}

.ke-grid_align_left {
	justify-content: flex-start;
}

.ke-grid_align_center {
	justify-content: center;
}

.ke-grid_align_right {
	justify-content: flex-end;
}

.ke-grid_align_justify {
	justify-content: space-between;
}

.ke-grid_valign_top {
	align-items: flex-start;
}

.ke-grid_valign_middle {
	align-items: center;
}

.ke-grid_valign_bottom {
	align-content: flex-end;
	align-items: flex-end;
}

.ke-grid_valign_baseline {
	align-items: baseline;
}

.ke-grid_valign_justify {
	align-content: space-between;
}

.ke-grid_direction_row {
	flex-direction: row;
}

.ke-grid_direction_row-reverse {
	flex-direction: row-reverse;
}

.ke-grid_direction_column {
	flex-direction: column;
}

.ke-grid_direction_column-reverse {
	flex-direction: column-reverse;
}

.ke-grid_wrap_nowrap {
	flex-wrap: nowrap;
}

.ke-grid_wrap_wrap {
	flex-wrap: wrap;
}

.ke-grid_wrap_wrap-reverse {
	flex-wrap: wrap-reverse;
}

.ke-grid__item_order_1 {
	order: 1;
}

.ke-grid__item_order_2 {
	order: 2;
}

.ke-grid__item_order_3 {
	order: 3;
}

.ke-grid__item_order_4 {
	order: 4;
}

.ke-grid__item_order_5 {
	order: 5;
}

.ke-grid__item_order_6 {
	order: 6;
}

.ke-grid__item_order_7 {
	order: 7;
}

.ke-grid__item_order_8 {
	order: 8;
}

.ke-grid__item_order_9 {
	order: 9;
}

.ke-grid__item_order_10 {
	order: 10;
}

.ke-grid__item_width_1-1 {
	flex: none;
	width: 100%;
}

.ke-grid__item_width_1-2 {
	flex: none;
	width: 50%;
}

.ke-grid__item_width_1-3 {
	flex: none;
	width: 33.33333%;
}

.ke-grid__item_width_2-3 {
	flex: none;
	width: 66.66667%;
}

.ke-grid__item_width_1-4 {
	flex: none;
	width: 25%;
}

.ke-grid__item_width_2-4 {
	flex: none;
	width: 50%;
}

.ke-grid__item_width_3-4 {
	flex: none;
	width: 75%;
}

.ke-grid__item_width_1-5 {
	flex: none;
	width: 20%;
}

.ke-grid__item_width_2-5 {
	flex: none;
	width: 40%;
}

.ke-grid__item_width_3-5 {
	flex: none;
	width: 60%;
}

.ke-grid__item_width_4-5 {
	flex: none;
	width: 80%;
}

.ke-grid__item_width_1-6 {
	flex: none;
	width: 16.66667%;
}

.ke-grid__item_width_2-6 {
	flex: none;
	width: 33.33333%;
}

.ke-grid__item_width_3-6 {
	flex: none;
	width: 50%;
}

.ke-grid__item_width_4-6 {
	flex: none;
	width: 66.66667%;
}

.ke-grid__item_width_5-6 {
	flex: none;
	width: 83.33333%;
}

.ke-grid__item_width_1-7 {
	flex: none;
	width: 14.28571%;
}

.ke-grid__item_width_2-7 {
	flex: none;
	width: 28.57143%;
}

.ke-grid__item_width_3-7 {
	flex: none;
	width: 42.85714%;
}

.ke-grid__item_width_4-7 {
	flex: none;
	width: 57.14286%;
}

.ke-grid__item_width_5-7 {
	flex: none;
	width: 71.42857%;
}

.ke-grid__item_width_6-7 {
	flex: none;
	width: 85.71429%;
}

.ke-grid__item_width_1-8 {
	flex: none;
	width: 12.5%;
}

.ke-grid__item_width_2-8 {
	flex: none;
	width: 25%;
}

.ke-grid__item_width_3-8 {
	flex: none;
	width: 37.5%;
}

.ke-grid__item_width_4-8 {
	flex: none;
	width: 50%;
}

.ke-grid__item_width_5-8 {
	flex: none;
	width: 62.5%;
}

.ke-grid__item_width_6-8 {
	flex: none;
	width: 75%;
}

.ke-grid__item_width_7-8 {
	flex: none;
	width: 87.5%;
}

.ke-grid__item_width_1-9 {
	flex: none;
	width: 11.11111%;
}

.ke-grid__item_width_2-9 {
	flex: none;
	width: 22.22222%;
}

.ke-grid__item_width_3-9 {
	flex: none;
	width: 33.33333%;
}

.ke-grid__item_width_4-9 {
	flex: none;
	width: 44.44444%;
}

.ke-grid__item_width_5-9 {
	flex: none;
	width: 55.55556%;
}

.ke-grid__item_width_6-9 {
	flex: none;
	width: 66.66667%;
}

.ke-grid__item_width_7-9 {
	flex: none;
	width: 77.77778%;
}

.ke-grid__item_width_8-9 {
	flex: none;
	width: 88.88889%;
}

.ke-grid__item_width_1-10 {
	flex: none;
	width: 10%;
}

.ke-grid__item_width_2-10 {
	flex: none;
	width: 20%;
}

.ke-grid__item_width_3-10 {
	flex: none;
	width: 30%;
}

.ke-grid__item_width_4-10 {
	flex: none;
	width: 40%;
}

.ke-grid__item_width_5-10 {
	flex: none;
	width: 50%;
}

.ke-grid__item_width_6-10 {
	flex: none;
	width: 60%;
}

.ke-grid__item_width_7-10 {
	flex: none;
	width: 70%;
}

.ke-grid__item_width_8-10 {
	flex: none;
	width: 80%;
}

.ke-grid__item_width_9-10 {
	flex: none;
	width: 90%;
}

.ke-grid__item_width_expand {
	flex: 1;
	width: auto;
}

.ke-grid__item_width_auto {
	flex: none;
	width: auto;
}

.ke-grid_height_auto {
	height: auto;
}

.ke-grid_height_inherit {
	height: inherit;
}

.ke-grid_height_1-1 {
	height: 100%;
}

.ke-grid_divider_default > .ke-grid__item {
	border: 0 solid #dee1ef;
}

.ke-grid_divider_default > .ke-grid__item + .ke-grid__item {
	border-left-width: 1px;
}

.ke-grid_blackhole_scroll-x {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.ke-grid_blackhole_scroll-x > .ke-grid__item {
	max-width: none;
	flex: 0 0 auto;
}

.ke-grid_blackhole_height-100 {
	height: 100%;
}

@media only screen and (min-width: 480px) {
	.ke-grid_column_3\@small > .ke-grid__item {
		flex: none;
		width: 33.33333%;
	}
}

@media only screen and (min-width: 768px) {
	.ke-grid__item_width_1-2\@medium {
		flex: none;
		width: 50%;
	}

	.ke-grid_column_4\@medium > .ke-grid__item {
		flex: none;
		width: 25%;
	}
}

@media only screen and (min-width: 960px) {
	.ke-grid__item_width_4-9\@large {
		flex: none;
		width: 44.44444%;
	}

	.ke-grid__item_width_1-4\@large {
		flex: none;
		width: 25%;
	}

	.ke-grid_indent_m\@large > .ke-grid__item {
		padding: 8px;
	}
}
