.ke-image {
	display: inline;
	outline: none;
	border: 0;
	max-width: 100%;
	max-height: 100%;
}

.ke-image[alt] {
	word-wrap: break-word;
	word-break: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.ke-image_display_inline {
	display: inline;
}

.ke-image_display_none {
	display: none;
}

.ke-image_align_left {
	float: left;
}

.ke-image_align_center {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.ke-image_align_right {
	float: right;
}

.ke-image_valign_baseline {
	vertical-align: baseline;
}

.ke-image_valign_bottom {
	vertical-align: bottom;
}

.ke-image_valign_middle {
	vertical-align: middle;
}

.ke-image_valign_sub {
	vertical-align: sub;
}

.ke-image_valign_super {
	vertical-align: super;
}

.ke-image_valign_text-bottom {
	vertical-align: text-bottom;
}

.ke-image_valign_text-top {
	vertical-align: text-top;
}

.ke-image_valign_top {
	vertical-align: top;
}

.ke-image_mirror_x {
	transform: scaleX(-1);
}

.ke-image_mirror_y {
	transform: scaleY(-1);
}

.ke-image_mirror_xy {
	transform: scale(-1);
}

.ke-image_fit_none {
	-o-object-fit: none;
	object-fit: none;
}

.ke-image_fit_fill {
	-o-object-fit: fill;
	object-fit: fill;
}

.ke-image_fit_contain {
	-o-object-fit: contain;
	object-fit: contain;
}

.ke-image_fit_cover {
	-o-object-fit: cover;
	object-fit: cover;
}

.ke-image_fit_scale-down {
	-o-object-fit: scale-down;
	object-fit: scale-down;
}

.ke-image_width_1-1 {
	width: 100%;
}

.ke-image_width_1-2 {
	width: 50%;
}

.ke-image_width_1-3 {
	width: 33.33333%;
}

.ke-image_width_2-3 {
	width: 66.66667%;
}

.ke-image_width_1-4 {
	width: 25%;
}

.ke-image_width_2-4 {
	width: 50%;
}

.ke-image_width_3-4 {
	width: 75%;
}

.ke-image_width_1-5 {
	width: 20%;
}

.ke-image_width_2-5 {
	width: 40%;
}

.ke-image_width_3-5 {
	width: 60%;
}

.ke-image_width_4-5 {
	width: 80%;
}

.ke-image_width_1-6 {
	width: 16.66667%;
}

.ke-image_width_2-6 {
	width: 33.33333%;
}

.ke-image_width_3-6 {
	width: 50%;
}

.ke-image_width_4-6 {
	width: 66.66667%;
}

.ke-image_width_5-6 {
	width: 83.33333%;
}

.ke-image_width_1-7 {
	width: 14.28571%;
}

.ke-image_width_2-7 {
	width: 28.57143%;
}

.ke-image_width_3-7 {
	width: 42.85714%;
}

.ke-image_width_4-7 {
	width: 57.14286%;
}

.ke-image_width_5-7 {
	width: 71.42857%;
}

.ke-image_width_6-7 {
	width: 85.71429%;
}

.ke-image_width_1-8 {
	width: 12.5%;
}

.ke-image_width_2-8 {
	width: 25%;
}

.ke-image_width_3-8 {
	width: 37.5%;
}

.ke-image_width_4-8 {
	width: 50%;
}

.ke-image_width_5-8 {
	width: 62.5%;
}

.ke-image_width_6-8 {
	width: 75%;
}

.ke-image_width_7-8 {
	width: 87.5%;
}

.ke-image_width_1-9 {
	width: 11.11111%;
}

.ke-image_width_2-9 {
	width: 22.22222%;
}

.ke-image_width_3-9 {
	width: 33.33333%;
}

.ke-image_width_4-9 {
	width: 44.44444%;
}

.ke-image_width_5-9 {
	width: 55.55556%;
}

.ke-image_width_6-9 {
	width: 66.66667%;
}

.ke-image_width_7-9 {
	width: 77.77778%;
}

.ke-image_width_8-9 {
	width: 88.88889%;
}

.ke-image_width_1-10 {
	width: 10%;
}

.ke-image_width_2-10 {
	width: 20%;
}

.ke-image_width_3-10 {
	width: 30%;
}

.ke-image_width_4-10 {
	width: 40%;
}

.ke-image_width_5-10 {
	width: 50%;
}

.ke-image_width_6-10 {
	width: 60%;
}

.ke-image_width_7-10 {
	width: 70%;
}

.ke-image_width_8-10 {
	width: 80%;
}

.ke-image_width_9-10 {
	width: 90%;
}

.ke-image_width_auto {
	width: auto;
}

.ke-image_round_none {
	border-radius: 0;
}

.ke-image_round-top_none {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.ke-image_round-right_none {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.ke-image_round-bottom_none {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.ke-image_round-left_none {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.ke-image_round-top-left_none {
	border-top-left-radius: 0;
}

.ke-image_round-top-right_none {
	border-top-right-radius: 0;
}

.ke-image_round-bottom-right_none {
	border-bottom-right-radius: 0;
}

.ke-image_round-bottom-left_none {
	border-bottom-left-radius: 0;
}

.ke-image_round_xxs {
	border-radius: 2px;
}

.ke-image_round-top_xxs {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.ke-image_round-right_xxs {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.ke-image_round-bottom_xxs {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.ke-image_round-left_xxs {
	border-bottom-left-radius: 2px;
}

.ke-image_round-left_xxs,
.ke-image_round-top-left_xxs {
	border-top-left-radius: 2px;
}

.ke-image_round-top-right_xxs {
	border-top-right-radius: 2px;
}

.ke-image_round-bottom-right_xxs {
	border-bottom-right-radius: 2px;
}

.ke-image_round-bottom-left_xxs {
	border-bottom-left-radius: 2px;
}

.ke-image_round_xs {
	border-radius: 4px;
}

.ke-image_round-top_xs {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.ke-image_round-right_xs {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.ke-image_round-bottom_xs {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.ke-image_round-left_xs {
	border-bottom-left-radius: 4px;
}

.ke-image_round-left_xs,
.ke-image_round-top-left_xs {
	border-top-left-radius: 4px;
}

.ke-image_round-top-right_xs {
	border-top-right-radius: 4px;
}

.ke-image_round-bottom-right_xs {
	border-bottom-right-radius: 4px;
}

.ke-image_round-bottom-left_xs {
	border-bottom-left-radius: 4px;
}

.ke-image_round_s {
	border-radius: 6px;
}

.ke-image_round-top_s {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.ke-image_round-right_s {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.ke-image_round-bottom_s {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.ke-image_round-left_s {
	border-bottom-left-radius: 6px;
}

.ke-image_round-left_s,
.ke-image_round-top-left_s {
	border-top-left-radius: 6px;
}

.ke-image_round-top-right_s {
	border-top-right-radius: 6px;
}

.ke-image_round-bottom-right_s {
	border-bottom-right-radius: 6px;
}

.ke-image_round-bottom-left_s {
	border-bottom-left-radius: 6px;
}

.ke-image_round_m {
	border-radius: 8px;
}

.ke-image_round-top_m {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.ke-image_round-right_m {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.ke-image_round-bottom_m {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.ke-image_round-left_m {
	border-bottom-left-radius: 8px;
}

.ke-image_round-left_m,
.ke-image_round-top-left_m {
	border-top-left-radius: 8px;
}

.ke-image_round-top-right_m {
	border-top-right-radius: 8px;
}

.ke-image_round-bottom-right_m {
	border-bottom-right-radius: 8px;
}

.ke-image_round-bottom-left_m {
	border-bottom-left-radius: 8px;
}

.ke-image_round_l {
	border-radius: 10px;
}

.ke-image_round-top_l {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.ke-image_round-right_l {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.ke-image_round-bottom_l {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.ke-image_round-left_l {
	border-bottom-left-radius: 10px;
}

.ke-image_round-left_l,
.ke-image_round-top-left_l {
	border-top-left-radius: 10px;
}

.ke-image_round-top-right_l {
	border-top-right-radius: 10px;
}

.ke-image_round-bottom-right_l {
	border-bottom-right-radius: 10px;
}

.ke-image_round-bottom-left_l {
	border-bottom-left-radius: 10px;
}

.ke-image_round_xl {
	border-radius: 12px;
}

.ke-image_round-top_xl {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.ke-image_round-right_xl {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

.ke-image_round-bottom_xl {
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.ke-image_round-left_xl {
	border-bottom-left-radius: 12px;
}

.ke-image_round-left_xl,
.ke-image_round-top-left_xl {
	border-top-left-radius: 12px;
}

.ke-image_round-top-right_xl {
	border-top-right-radius: 12px;
}

.ke-image_round-bottom-right_xl {
	border-bottom-right-radius: 12px;
}

.ke-image_round-bottom-left_xl {
	border-bottom-left-radius: 12px;
}

.ke-image_round_xxl {
	border-radius: 14px;
}

.ke-image_round-top_xxl {
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}

.ke-image_round-right_xxl {
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
}

.ke-image_round-bottom_xxl {
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
}

.ke-image_round-left_xxl {
	border-bottom-left-radius: 14px;
}

.ke-image_round-left_xxl,
.ke-image_round-top-left_xxl {
	border-top-left-radius: 14px;
}

.ke-image_round-top-right_xxl {
	border-top-right-radius: 14px;
}

.ke-image_round-bottom-right_xxl {
	border-bottom-right-radius: 14px;
}

.ke-image_round-bottom-left_xxl {
	border-bottom-left-radius: 14px;
}

.ke-image_round_full {
	border-radius: 50%;
}

.ke-image_round-top_full {
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}

.ke-image_round-right_full {
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.ke-image_round-bottom_full {
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}

.ke-image_round-left_full {
	border-bottom-left-radius: 50%;
}

.ke-image_round-left_full,
.ke-image_round-top-left_full {
	border-top-left-radius: 50%;
}

.ke-image_round-top-right_full {
	border-top-right-radius: 50%;
}

.ke-image_round-bottom-right_full {
	border-bottom-right-radius: 50%;
}

.ke-image_round-bottom-left_full {
	border-bottom-left-radius: 50%;
}
