<div
	class="ke-box ke-box_width_1-2@medium ke-box_background_light ke-box_round_m ke-box_padding_m ke-box_padding-bottom_xl ke-box_border-bottom_muted"
>
	<ul class="ke-list ke-list_indent_xxl">
		<li class="ke-list__item">
			<div class="ke-box ke-box_width_1-2@medium">
				<ul class="ke-list ke-list_indent_xl">
					<li class="ke-list__item">
						<div class="ke-box ke-box_margin-bottom_xs">
							<span class="ke-text ke-text_weight_bold"
								>E-mail &nbsp;<span
									class="ke-text ke-text_size_default"
									><span class="ke-text ke-text_color_success"
										>(подтвержден)</span
									></span
								></span
							>
						</div>
						<span>test@gmail.com</span>
					</li>
					<li class="ke-list__item">
						<div class="ke-box ke-box_margin-bottom_xs">
							<span class="ke-text ke-text_weight_bold"
								>Номер телефона</span
							>
						</div>
						+380970000000
					</li>
					<!--TODO: Hide my phone number-->
					<!-- <li class="ke-list__item">
						<div class="ke-box ke-box_margin-top_xs">
							<mat-checkbox
								>Скрыть мой номер телефона</mat-checkbox
							>
						</div>
					</li> -->
				</ul>
			</div>
		</li>
	</ul>
</div>
