<div class="ke-body__section">
	<div class="ke-box ke-box_padding-lr_xl">
		<div class="ke-box ke-box_margin-bottom_xl">
			<img
				class="ke-image ke-image_align_center"
				src="https://izi-static.c.prom.st/images/drawings/mouse.svg"
				width="320"
				alt="Страница не найдена"
			/>
		</div>
		<h2
			class="ke-text ke-text_lheight_medium ke-text_weight_medium ke-text_align_center ke-text_size_h5"
		>
			Страница не найдена
		</h2>
		<div class="ke-box ke-box_margin-top_s">
			<span class="ke-text ke-text_align_center ke-text_lheight_large">
				К сожалению, такой страницы больше нет <br />
				или вы ввели неверный адрес.
			</span>
		</div>
		<div class="ke-box ke-box_margin-top_l">
			<span class="ke-text ke-text_align_center">
				<a
					routerLink="/"
					class="ke-link ke-link_color_brand-blue ke-link_weight_medium"
				>
					Перейти на главную
				</a>
			</span>
		</div>
	</div>
</div>
