<ul class="ke-list ke-list_divider_default ke-list_indent_xxl">
	<li class="ke-list__item">
		<ul class="ke-list ke-list_indent_l">
			<li class="ke-list__item">
				<div class="ke-link" style="text-decoration: none;">
					<div class="ke-grid ke-grid_valign_middle">
						<div class="ke-grid__item ke-grid__item_width_expand">
							<span class="ke-text ke-text_wrap_break"
								><span
									class="ke-text ke-text_weight_medium ke-text_lheight_medium"
									>Цена, грн</span
								></span
							>
						</div>
						<div class="ke-grid__item">
							<svg width="12" height="12" viewBox="0 0 24 24">
								<path
									fill="currentColor"
									d="M11.947 18.776l-9.36-9.362a2 2 0 1 1 2.828-2.828l6.532 6.534 6.535-6.534a2 2 0 1 1 2.828 2.828l-9.362 9.362z"
								></path>
							</svg>
						</div>
					</div>
				</div>
			</li>
			<li class="ke-list__item">
				<div class="ke-grid ke-grid_valign_middle ke-grid_indent_xs">
					<div class="ke-grid__item ke-grid__item_width_expand">
						<input
							name="price__gte"
							class="b-form-input b-form-input_type_small"
							type="text"
							value="0.01"
						/>
					</div>
					<div class="ke-grid__item">–</div>
					<div class="ke-grid__item ke-grid__item_width_expand">
						<input
							name="price__lte"
							class="b-form-input b-form-input_type_small"
							type="text"
							value="1914693"
						/>
					</div>
					<div class="ke-grid__item">
						<button
							type="button"
							aria-label="Отфильтровать по цене"
							class="ke-button ke-button_theme_main ke-button_type_icon-small"
						>
							<svg width="24" height="24" viewBox="0 0 24 24">
								<path
									fill="currentColor"
									d="M9.782 18.605l-6.515-7.006a1 1 0 0 1 1.465-1.361l5.05 5.429 8.692-9.348A1 1 0 1 1 19.94 7.68L9.782 18.605z"
								></path>
							</svg>
						</button>
					</div>
				</div>
			</li>
		</ul>
	</li>
</ul>
